body{
    background-image: linear-gradient( #F5EC76 white);
    
}

h1{
    font-family: 'Press Start 2P', cursive;
    color:  rgb(252,209,42);
}
div button{
    flex-direction: row;
    font-family: monospace, cursive;
    color:rgb(252,209,42);
    background-color: #caffe8;
    
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius:3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

img {
    display: block;
    margin: auto;
    margin-top: 110px;
    animation: mymove 9s infinite;
}

.container {
    height: 50rem;
    width: 45rem;
    /* border: 0.2rem solid black; */
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    background-color: #fafad8;
}
.gameSprite{
    width:60%;
    height:60%;
    border-radius: .9rem;
    background-color:#caffe8;
    margin: 50px 100px;
}

.screen{
    width:85%;
    height:85%;
    border-radius: .9rem;
    background-color: rgb(205,205,205);
    margin: auto;
    margin-top: 27px;
    
}
.alert{
    font-family: 'Press Start 2P', cursive;
    color:rgb(79, 74, 74);
    line-height: 2rem;
    font-size: 1rem;
}
