body{
    background-image: linear-gradient( #F5EC76 white);
    
}

h1{
    font-family: 'Press Start 2P', cursive;
    color:  rgb(252,209,42);
}
div button{
    flex-direction: row;
    font-family: monospace, cursive;
    color:rgb(252,209,42);
    background-color: #caffe8;
    
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius:3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

img {
    display: block;
    margin: auto;
    margin-top: 40px;
    animation: LRUD 1s infinite;
    /* animation: uD 1s infinite; */
  animation-direction: alternate;
}
@keyframes LRUD {
    
    0% {
        transform: translate(0, 0);   
    }
    25% {
      transform: translate(20px, 0px);
    }
    75% {
        transform: translate(0px, 20px);
    }
    100% {
        transform: translate(20px, 20px); 
    } 
  }
  

.container {
    height: 50rem;
    width: 45rem;
    /* border: 0.2rem solid black; */
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    background-color: #fafad8;
}
.gameSprite{
    width:60%;
    height:60%;
    border-radius: .9rem;
    background-color:#caffe8;
    margin: 50px 100px;
}

.screen{
    width:85%;
    height:85%;
    border-radius: .9rem;
    background-color: rgb(205,205,205);
    margin: auto;
    margin-top: 27px;
    
}
.alert{
    font-family: 'Press Start 2P', cursive;
    color:rgb(79, 74, 74);
    line-height: 2rem;
    font-size: 1rem;
}
.stat{
    font-family: 'Press Start 2P', cursive;
    color:rgb(79, 74, 74);
    font-size: .5rem;
    padding-left:10px;
    padding-top: 5px;
}